{% extends 'base.html' %}

{% block content %}

<main class="main-articles" id="articles">

    <section class="section-articles">

        <div class="article">

            <div class="hidebox">
                <div class="article-base">
                    <img class="article-base__img" src="{{ url_for('static', filename='img/books/books-classics.jpeg') }}" alt="background-image">
                    <h3 class="article-base__h3">Польза сервиса</h3>
                <p class="article-base__p">Отслеживание прочитанных книг может быть полезным по нескольким причинам:

                    <br><br>1. Память и воспоминания: Часто после прочтения книги мы можем забывать ее содержание или даже название. Отслеживание прочитанных книг позволяет сохранить информацию о прочитанных произведениях и легко вспоминать о них.
                    
                    <br><br>2. Референс для рекомендаций: Зная, какие книги вам понравились и какие авторы вас заинтересовали, вы можете получать рекомендации о новых произведениях от друзей, библиотекарей или сервисов, основанных на вашем литературном вкусе.
                    
                    <br><br>3. Саморазвитие: Отслеживание прочитанных книг помогает видеть свой прогресс в чтении, осознавать свои литературные предпочтения и расширять свой кругозор.
                    
                    <br><br>Сервис "Книжная полка" может помочь в отслеживании прочитанных книг, предоставляя такие возможности как:
                    
                    <br><br>1. Пользовательский профиль: Вы можете создать персональный профиль, где будет отображаться список всех прочитанных вами книг.
                    
                    <br><br>2. Оценки и отзывы: Вы можете добавлять книгам оценки и писать отзывы, чтобы сохранить свои впечатления и рекомендации для других читателей.
                    
                    <br><br>3. Рекомендации: На основе ваших прочитанных книг и предпочтений, сервис может предлагать вам новые книги для чтения.
                    
                    <br><br>4. Статистика: "Книжная полка" может предоставлять вам статистику о количестве прочитанных книг, жанрах, авторах и других аспектах вашего чтения.
                    
                    <br><br>Таким образом, сервис "Книжная полка" поможет вам систематизировать свои литературные интересы, получать персонализированные рекомендации и отслеживать свой прогресс в чтении книг.</p>
                </div>
            </div>
        </div>




            <div class="hidebox">
                <div class="article-base">
                    <img class="article-base__img article-top100books" src="{{ url_for('static', filename='img/books/article-top100books.jpg') }}" alt="background-image">
                    <h3 class="article-base__h3">100 книг, которые должен прочесть каждый</h3>
                <p class="article-base__p">Отслеживание прочитанных книг может быть полезным по нескольким причинам:
                    <br>1. Убить пересмешника, Харпер Ли
                    <br>2. Гордость и предубеждение, Джейн Остен
                    <br>3. Дневник Анны Франк, Анна Франк
                    <br>4. 1984, Джордж Оруэлл
                    <br>5. Гарри Поттер и философский камень, Джоан Роулинг
                    <br>6. Властелин колец, Дж. Р. Р. Толкин
                    <br>7. Великий Гэтсби, Ф. С. Фицджеральд
                    <br>8. Паутина Шарлотты, Элвин Брукс Уайт
                    <br>9. Маленькие женщины, Луиза Мэй Олкотт
                    <br>10. Хоббит, Дж. Р. Р. Толкин
                    <br>11. 451° по Фаренгейту, Рэй Брэдбери
                    <br>12. Джейн Эйр, Шарлотта Бронте
                    <br>13. Унесенные ветром, Маргарет Митчелл
                    <br>14. Скотный двор, Джордж Оруэлл
                    <br>15. Над пропастью во ржи, Джером Д. Сэлинджер
                    <br>16. Приключения Гекльберри Финна, Марк Твен
                    <br>17. Прислуга, Кэтрин Стокетт
                    <br>18. Гроздья гнева, Джон Стейнбек
                    <br>19. Лев, Колдунья и Платяной шкаф, Клайв С. Льюис
                    <br>20. Голодные игры, Сьюзен Коллинз
                    <br>21. Книжный вор, Маркус Зусак
                    <br>22. Повелитель мух, Уильям Голдинг
                    <br>23. Бегущий за ветром, Халед Хоссейни
                    <br>24. Ночь, Эли Визель
                    <br>25. Гамлет, Уильям Шекспир
                    <br>26. Повесть о двух городах, Чарльз Диккенс
                    <br>27. Складка времени, Мадлен Л’Энгль
                    <br>28. Автостопом по Галактике, Дуглас Адамс
                    <br>29. Рождественская песнь в прозе, Чарльз Диккенс
                    <br>30. О мышах и людях, Джон Стейнбек
                    <br>31. Таинственный сад, Фрэнсис Элиза Бёрнетт
                    <br>32. Ромео и Джульетта, Уильям Шекспир
                    <br>33. Рассказ Служанки, Маргарет Этвуд
                    <br>34. О дивный новый мир, Олдос Хаксли
                    <br>35. Маленький принц, Антуан де Сент-Экзюпери
                    <br>36. Там, где кончается тротуар, Шел Силверстин
                    <br>37. Грозовой перевал, Эмили Бронте
                    <br>38. Дающий, Лоис Лоури
                    <br>39. Аня из Зеленых Мезонинов, Люси Мод Монтгомери
                    <br>40. Макбет, Уильям Шекспир
                    <br>41. Приключения Тома Сойера, Марк Твен
                    <br>42. Гарри Поттер и Дары Смерти, Джоан Роулинг
                    <br>43. Франкенштейн, Мэри Шелли
                    <br>44. Библия
                    <br>45. Девушка с татуировкой дракона, Стиг Ларссон
                    <br>46. Граф Монте-Кристо, Александр Дюма
                    <br>47. Виноваты звёзды, Джон Грин
                    <br>48. Цвет пурпурный, Элис Уокер
                    <br>49. К востоку от рая, Джон Стейнбек
                    <br>50. Дерево растет в Бруклине, Бетти Смит
                    <br>51. Уловка-22, Джозеф Хеллер
                    <br>52. Хладнокровное убийство, Трумен Капоте
                    <br>53. Противостояние, Стивен Кинг
                    <br>54. Алиса в Стране чудес и в Зазеркалье, Льюис Кэрролл
                    <br>55. Обитатели холмов, Ричард Адамс
                    <br>56. Анна Каренина, Лев Толстой
                    <br>57. Игра Эндера, Орсон Скотт Кард
                    <br>58. Большие надежды, Чарльз Диккенс
                    <br>59. Ребекка, Дафна Дюморье
                    <br>60. Мемуары гейши, Артур Голден
                    <br>61. Приключения Шерлока Холмса, Артур Конан Дойл
                    <br>62. Гарри Поттер и узник Азкабана, Джоан Роулинг
                    <br>63. Старик и море, Эрнест Хемингуэй
                    <br>64. Песнь Льда и Огня: Игра престолов, Джордж Р. Р. Мартин
                    <br>65. Принцесса-невеста, Уильям Голдман
                    <br>66. Чарли и Шоколадная фабрика, Роальд Даль
                    <br>67. Жизнь Пи, Янн Мартел
                    <br>68. Столпы Земли, Кен Фоллетт
                    <br>69. Отверженные, Виктор Гюго
                    <br>70. Алая буква, Натаниэль Готорн
                    <br>71. Дракула, Брэм Стокер
                    <br>72. Гарри Поттер и Принц-полукровка, Джоан Роулинг
                    <br>73. Голодные игры: И вспыхнет пламя, Сьюзен Коллинз
                    <br>74. Воды слонам, Сара Груэн
                    <br>75. Ворон, Эдгар Аллан По
                    <br>76. Тайная жизнь пчёл, Сью Монк Кидд
                    <br>77. Чужестранка, Диана Гэблдон
                    <br>78. Сто лет одиночества, Габриэль Гарсиа Маркес
                    <br>79. Библия ядовитого леса, Барбара Кингсолвер
                    <br>80. Земля, Перл Бак
                    <br>81. Жена путешественника во времени, Одри Ниффенеггер
                    <br>82. Празднуя тишину, Шри Шри Рави Шанкар
                    <br>83. Молитва об Оуэне Мини, Джон Ирвинг
                    <br>84. Десять негритят, Агата Кристи
                    <br>85. Бессмертная жизнь Генриетты Лакс, Ребекка Склут
                    <br>86. Поющие в терновнике, Колин Маккалоу
                    <br>87. Замок из стекла, Джаннетт Уоллс
                    <br>88. Сойка-пересмешница, Сьюзен Коллинз
                    <br>89. Вещи, которые они несли с собой, Тим О’Брайен
                    <br>90. Дорога, Кормак Маккарти
                    <br>91. Резка по камню, Абрахам Верес
                    <br>92. Братья Карамазовы, Федор Достоевский
                    <br>93. Сиддхартха, Герман Гессе
                    <br>94. Возлюбленная, Тони Моррисон
                    <br>95. История моей жизни, Хелен Келлер
                    <br>96. Призрачная будка, Джоан Джастер
                    <br>97. Из архива Миссис Базиль Э. Франквайлер, самого запутанного в мире, Элейн Конигсбург
                    <br>98. Исчезнувшая, Гиллиан Флинн
                    <br>99. Преступление и наказание, Федор Достоевский
                    <br>100. Одиссея, Гомер
                </p>
                </div class="article-why-need">
                </div>
            </div>



            
        </section>

        <table class="table-top100books" id="table-top100books">
            <tr>
                <th  class="th-sort-by-number" onclick="sortTable(0)" scope="col">Номер</th>
                <th>Автор</th>
                <th>Название книги</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Кен Фоллетт</td>
                <td>Столпы Земли</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Виктор Гюго</td>
                <td>Отверженные</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Натаниэль Готорн</td>
                <td>Алая буква</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Брэм Стокер</td>
                <td>Дракула</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Джоан Роулинг</td>
                <td>Гарри Поттер и Принц-полукровка</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Сьюзен Коллинз</td>
                <td>Голодные игры: И вспыхнет пламя</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Сара Груэн</td>
                <td>Воды слонам</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Эдгар Аллан По</td>
                <td>Ворон</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Сью Монк Кидд</td>
                <td>Тайная жизнь пчёл</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Диана Гэблдон</td>
                <td>Чужестранка</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Габриэль Гарсиа Маркес</td>
                <td>Сто лет одиночества</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Барбара Кингсолвер</td>
                <td>Библия ядовитого леса</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Перл Бак</td>
                <td>Земля</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Одри Ниффенеггер</td>
                <td>Жена путешественника во времени</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Шри Шри Рави Шанкар</td>
                <td>Празднуя тишину</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Джон Ирвинг</td>
                <td>Молитва об Оуэне Мини</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Агата Кристи</td>
                <td>Десять негритят</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Ребекка Склут</td>
                <td>Бессмертная жизнь Генриетты Лакс</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Колин Маккалоу</td>
                <td>Поющие в терновнике</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Джаннетт Уоллс</td>
                <td>Замок из стекла</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Сьюзен Коллинз</td>
                <td>Сойка-пересмешница</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Тим О’Брайен</td>
                <td>Вещи, которые они несли с собой</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Кормак Маккарти</td>
                <td>Дорога</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Абрахам Верес</td>
                <td>Резка по камню</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Федор Достоевский</td>
                <td>Братья Карамазовы</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Герман Гессе</td>
                <td>Сиддхартха</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Тони Моррисон</td>
                <td>Возлюбленная</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Хелен Келлер</td>
                <td>История моей жизни</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Джоан Джастер</td>
                <td>Призрачная будка</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Элейн Конигсбург</td>
                <td>Из архива Миссис Базиль Э. Франквайлер, самого запутанного в мире</td>
            </tr>
            <tr>
                <td>31</td>
                <td>Гиллиан Флинн</td>
                <td>Исчезнувшая</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Федор Достоевский</td>
                <td>Преступление и наказание</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Гомер</td>
                <td>Одиссея</td>
            </tr>
        </table>

</main>

{% endblock %}}


{% block sortjs %}<script type="text/javascript" src="static/js/sort-table.js"></script>{% endblock %}
