{% extends 'base.html' %}

{% block styles %}
{{super()}}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">  -->
{% endblock %}

{% block content %}
<main id="books">

<section class="section-books">

    <div>
        <a href="https://ast.ru/book/1984-866365/">
        <img class="book-img" src="static/img/books/1.jpeg" alt="">
        <p>1984 Джордж Оруэлл</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/portret-doriana-greya-832957/">
        <img class="book-img" src="static/img/books/2.jpeg" alt="">
        <p>Портрет Дориана Грея Оскар Уайльд</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/o-divnyy-novyy-mir-871796/">
        <img class="book-img" src="static/img/books/3.jpeg" alt="">
        <p>О дивный новый мир Олдос Хаксли</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/romeo-i-dzhuletta-otello-829075/">
        <img class="book-img" src="static/img/books/4.jpeg" alt="">
        <p>Ромэо и Джульетта Уильям Шекспир</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/paren-iz-kolorado-878217/">
        <img class="book-img" src="static/img/books/5.jpeg" alt="">
        <p>Парень из колорадо Стивен Кинг</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/putevoditel-dlya-puteshestvuyushchikh-avtostopom-po-galaktike-858580/">
        <img class="book-img" src="static/img/books/6.jpeg" alt="">
        <p>Автостопом по галактике Дуглас Адамс</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/malenkiy-prints-842761/">
        <img class="book-img" src="static/img/books/7.jpeg" alt="">
        <p>Маленький принцнтуан Де Сент-Экзюпери</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/tri-tovarishcha-839488/">
        <img class="book-img" src="static/img/books/8.jpeg" alt="">
        <p>Три товарища Эрих Мария Ремарк</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/puteshestvie-k-tsentru-zemli-725471/">
        <img class="book-img" src="static/img/books/9.jpeg" alt="">
        <p>Путешествие к центру цемли Жюль Верн</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/proshchay-oruzhie-724990/">
        <img class="book-img" src="static/img/books/10.jpeg" alt="">
        <p>Прощай, оружие! Эрнест Хемингуэй</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/master-i-margarita-865363/">
        <img class="book-img" src="static/img/books/11.jpeg" alt="">
        <p>Мастер и Маргарита Михаил Афанасьевич Булгаков</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/zavodnoy-apelsin-830798/">
        <img class="book-img" src="static/img/books/12.jpeg" alt="">
        <p>Заводной апельсин Энтони Берджесс</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/imet-ili-byt-723557/">
        <img class="book-img" src="static/img/books/13.jpeg" alt="">
        <p>Иметь или быть? Эрих Фромм</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/est-nekiy-svet-chto-tma-ne-sokrushit--864919/">
        <img class="book-img" src="static/img/books/14.jpeg" alt="">
        <p>Есть некий свет, что тьма не сокрушит... Иван Алексеевич Бунин</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/igrok-829671/">
        <img class="book-img" src="static/img/books/15.jpeg" alt="">
        <p>Игрок Федор Михайлович Достоевский</p>
        </a>
    </div>
    <div>
        <a href="https://ast.ru/book/aeroport-832964/">
        <img class="book-img" src="static/img/books/16.jpeg" alt="">
        <p>Аэропорт Артур Хейли</p>
    </a>
    </div>
    <div>
        <a href="https://ast.ru/book/tsifrovaya-krepost-172234/">
            <img class="book-img" src="static/img/books/17.jpg" alt="">
            <p>Цифровая крепсть Дэн Браун</p>
        </a>
    </div>

</section>




</main>
{% endblock %}

{% block skillsjs %}
<script src="static/js/script_skill_page.js"></script>
{% endblock %}