{% extends 'base.html' %}

{% block content %}
    <main class="main" id="general">
            <figure>
                <img class="bg-image" src="{{ url_for('static', filename='img/lb-max.jpg') }}" alt="background-image">
            </figure>

            <section class="main__desc">
                <div class="description"><p>Проект "Книжная полка" представляет собой онлайн-ресурс, разработанный для удобного сохранения и управления списком прочитанных книг. Пользователи могут создавать персональные полки с книгами, указывая название, автора, год издания, и другие важные детали. Также имеется возможность отмечать прочитанные произведения и делиться рецензиями с другими читателями.</p></div>
                <a class="button-start" href="{{ url_for('skills') }}">Перейти к книгам</a>
            </section>

            <section class="articles">
                <div class="hidebox">
                    <h3 class="article-base__h3 header-why-need">Польза сервиса(кликни два раза)</h3>
                    <p class="article-base__p paragraph-need">Отслеживание прочитанных книг может быть полезным по нескольким причинам:

                        <br><br>1. Память и воспоминания: Часто после прочтения книги мы можем забывать ее содержание или даже название. Отслеживание прочитанных книг позволяет сохранить информацию о прочитанных произведениях и легко вспоминать о них.
                        
                        <br><br>2. Референс для рекомендаций: Зная, какие книги вам понравились и какие авторы вас заинтересовали, вы можете получать рекомендации о новых произведениях от друзей, библиотекарей или сервисов, основанных на вашем литературном вкусе.
                        
                        <br><br>3. Саморазвитие: Отслеживание прочитанных книг помогает видеть свой прогресс в чтении, осознавать свои литературные предпочтения и расширять свой кругозор.
                        
                        <br><br>Сервис "Книжная полка" может помочь в отслеживании прочитанных книг, предоставляя такие возможности как:
                        
                        <br><br>1. Пользовательский профиль: Вы можете создать персональный профиль, где будет отображаться список всех прочитанных вами книг.
                        
                        <br><br>2. Оценки и отзывы: Вы можете добавлять книгам оценки и писать отзывы, чтобы сохранить свои впечатления и рекомендации для других читателей.
                        
                        <br><br>3. Рекомендации: На основе ваших прочитанных книг и предпочтений, сервис может предлагать вам новые книги для чтения.
                        
                        <br><br>4. Статистика: "Книжная полка" может предоставлять вам статистику о количестве прочитанных книг, жанрах, авторах и других аспектах вашего чтения.
                        
                        <br><br>Таким образом, сервис "Книжная полка" поможет вам систематизировать свои литературные интересы, получать персонализированные рекомендации и отслеживать свой прогресс в чтении книг.</p>
                </div>
            </section>
    </main>
{% endblock %}
